<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<!--<p>Welcome to django project</p>-->
<!--{% for mydata in userdata %}-->
<!--<p>{{ mydata.name }}</p>-->
<!--<p>{{ mydata.email }}</p>-->
<!--{% endfor %}-->
<a href="booking" class="btn btn-success" type="button">Add User Details</a>
<table border="4" class="table table-striped">
    <tr>
        <th>
            Name
        </th>
         <th>
            Email
        </th>
            <th>
            checkin
        </th>
            <th>
            checkout
        </th>
        <th>
            Action
        </th>
    </tr>
    {% for mydata in userdata %}
        <tr>
            <td>
                {{ mydata.name }}
            </td>
            <td>
                {{ mydata.email }}
            </td>
              <td>
                {{ mydata.checkin }}
            </td>
              <td>
                {{ mydata.checkout }}
            </td>
            <td>
        <a href="edituser/{{ mydata.id }}" class="btn btn-warning" type="button">Edit</a>
        <a href="deleteuser/{{ mydata.id }}" class="btn btn-danger" type="button">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
        <a href="/" class="btn btn-success" type="button">Add User Details</a>
</body>
</html>


